@font-face { 
  font-family: 'Gotham Rounded'; 
  src: url('/fonts/SVN-GothamRounded.eot') format('embedded-opentype'); 
  src: url('/fonts/SVN-GothamRounded.woff') format('woff'), url('/fonts/SVN-GothamRounded.ttf') format('truetype'), url('/fonts/SVN-GothamRounded.svg#SVN-GothamRounded') format('svg'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Gotham Rounded'; 
  src: url('/fonts/SVN-GothamRoundedMedium.eot') format('embedded-opentype'); 
  src: url('/fonts/SVN-GothamRoundedMedium.woff') format('woff'), url('/fonts/SVN-GothamRoundedMedium.ttf') format('truetype'), url('/fonts/SVN-GothamRoundedMedium.svg#SVN-GothamRoundedMedium') format('svg'); 
  font-weight: 500; 
  font-style: normal; 
}
  *{
    font-family: Gotham Rounded,Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

a {
  text-decoration: none;
  color: #444;
  font-weight: 300;
}
/*a.fullname{
  text-transform: lowercase;
}*/
.background {
/*  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #225faa;*/
  background: linear-gradient(135deg, #BEF4F7 0%, #f7c1be 100%);
/*  overflow: scroll;
  perspective: 1000px;*/
}

/*.container {
  width: 90%;
  max-width: 500px;
  margin: 150px auto;
  transform: rotateX(20deg);
}
*/
.outer {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-shadow: 0px 2px 1px #aaa;
  font-size: 2em;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}
.outer .outer-content {
  z-index: 1;
}
.outer .outer-corner {
  height: 40px;
  width: 40px;
  border-right: 5px solid rgba(255, 255, 255, 0.5);
  border-top: 5px solid white;
  position: absolute;
  right: -30px;
  top: -30px;
}

.main {
  background: linear-gradient(to bottom, transparent, white 40px);
  transform: translateY(-40px);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}
.main p {
  margin: 0px;
  font-weight: 300;
}
.main p.st {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 700;
}
.main p.st:first-of-type {
  margin-top: 0px;
}
.main .pd {
  padding: 40px;
}
.main .map {
  width: 200px;
  height: 200px;
  background: url("https://s32.postimg.org/rienefced/Ultra_Light_with_Labels_Snazzy_Maps_Free_Sty.png");
  background-size: 220%;
  -webkit-filter: contrast(100%);
  position: absolute;
  right: -20px;
  top: 20px;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}
.main .img {
  position: absolute;
  bottom: 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background: url(https://images.unsplash.com/photo-1452110040644-6751c0c95836?crop=entropy&dpr=2&fit=crop&fm=jpg&h=825&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450);
  background-size: cover;
  width: 100%;
  height: 10px;
}
.main .main-outer {
  height: 40px;
  width: 40px;
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid white;
  position: absolute;
  left: -30px;
  bottom: -30px;
}
