body {
    font-family: Gotham Rounded,Arial,SimSun,sans-serif;
    font-size: 15px;
    line-height: 1.714;
    color: #000;
    background-color: #fff;
}
.container-body {
    margin-top: 2em;
    margin-bottom: .35em;
}
.carousel-article {
    display: block;
    overflow: hidden;
}
.component-carousel.hero .carousel {
    margin-bottom: 0;
}

.carousel {
    position: relative;
}
.component-carousel.hero .carousel-indicators {
    bottom: 2em;
}

.component-carousel .carousel-indicators {
    position: absolute;
    right: 2em;
    bottom: -2.5em;
    left: auto;
    z-index: 150;
    width: auto;
    margin-bottom: 0;
    margin-left: 2px;
}
.hide {
    display: none!important;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.component-carousel .item {
    float: left;
    width: 100%;
}
.carousel-inner>.active {
    left: 0;
}
.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
    display: block;
}
.carousel-inner>.item {
    position: relative;
 /*   display: none;*/
    -webkit-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}

.image-container {
    position: relative;
}
.image-container .image-overlay.is-loaded {
    display: block;
    opacity: 0;
    -webkit-transition: opacity 750ms ease;
    transition: opacity 750ms ease;
}
a {
    color: #000;
    text-decoration: none;
}

.image-container .image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
}

img.img-responsive {
    width: 100%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}


body .carousel-article .carousel-heading {
    margin-bottom: 0;
}


.component-carousel .carousel-heading {
 /*   padding-top: .5em;
    padding-right: 1em;
    margin-top: .075em;
    margin-bottom: 1em;*/
}

.component-carousel .carousel-heading .slide-meta {
    min-height: 25px;
}
.slide-meta {
    font-size: 13px!important;
}

.component-carousel .carousel-heading .slide-title {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}




/*row 2*/ 
.col-xs-12 {
    width: 100%;
}
.row:before, .row:after {
    display: table;
    content: " ";
}
.component-promo {
    position: relative;
    display: block;
    margin-bottom: 2em;
    overflow: hidden;
}
.component-promo .black.row {
    margin: 0;
}

.component-promo .black {
    padding: 0;
    color: #e7e7e7;
    background: #000;
}
.component-promo .black .component-promo-text {
    width: 90%;
    margin-top: 2em;
}
.component-promo .component-promo-text {
    width: 100%;
    margin: 0 auto 2em auto;
}
.component-promo.featured .title {
    font-size: 25px;
    text-transform: uppercase;
}

.component-promo .text-center .title {
    margin: 0 .5em;
}

.component-promo .related-link {
    margin-top: 1em;
    font-family: "Futura W02 Book","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: lowercase;
}
.component-promo .related-link a{
	color:white;
	text-decoration: none;
    text-transform: capitalize;
}
.component-promo .related-link:after {
    position: absolute;
    margin-top: -5px;
    margin-left: 5px;
    font-size: 1.5em;
    font-weight: 100;
    content: '\203A';
}

@media (min-width: 1344px){

}

@media (min-width: 1200px){
	
}


@media (min-width: 992px){
	
}

@media (min-width: 768px){
	

	.component-carousel .carousel-heading .slide-meta {
    margin-bottom: -5px;
	}
}
@media (min-width: 480px){
	.component-carousel .carousel-heading {
    position: relative;
    right: 0;
    bottom: 6.1em;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 6.1em;
    color: #e7e7e7;
    text-align: center;
    background-color: #333;
    background-color: rgba(0,0,0,0.6);
}
}

@media (max-width: 480px){
    #contentMain{
        overflow: hidden;
    }
    .component-carousel .carousel-heading .slide-title{
        padding-bottom: 15px;
        text-align: center;
    }
    .component-promo.featured .title{
        font-size: 23px;
    }
    .component-promo .related-link a{
        text-transform: capitalize;
    }
}
