body {
    font-size: 15px;
    line-height: 1.714;
    color: #000;
    background-color: #fff;
}
.wrap {
 /*   height: auto!important;
    height: 100%;
    min-height: 100%;
    padding: 0 0 70px;*/
    /*margin: 0 auto -70px;*/
}
.wrap>.content-main {
    position: relative;
    z-index: 0;
    padding-top: 0;
    /*margin-top: 240px;*/
}
.container-body {
    margin-top: 2em;
    margin-bottom: .35em;
}
.component-sidebar-menu {
    margin-bottom: 2em;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.component-sidebar-menu .btn-group .dropdown-menu {
    position: static;
    display: block;
    float: left;
    width: 100%;
    min-width: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

.component-sidebar-menu .subnav {
    display: block;
    margin-bottom: 20px!important;
    margin-left: 0!important;
    overflow: hidden;
}
.component-sidebar-menu .title {
    margin-bottom: .2em;
    margin-left: .5em;
    font-weight: bold;
    line-height: 1.5;
}
.component-sidebar-menu .btn-group .dropdown-menu li a {
    display: inline-block;
    padding: 0 .5em;
    margin-bottom: .1em;
    margin-left: -0.5em;
    text-decoration: none;
    white-space: normal;
    color: #000;
}
.component-sidebar-menu .btn-group .dropdown-menu li {
    margin-bottom: .2em;
    margin-left: .5em;
}
.component-sidebar-menu .subnav li {
    text-transform: uppercase;
}
.component-sidebar-menu .btn-group .dropdown-menu li a:hover, .component-sidebar-menu .btn-group .dropdown-menu li a.active {
    color: #fff;
    background-color: #000;
}

/*end menu*/
a {
    color: #000;
    text-decoration: none;
}
.slide-meta {
    font-size: 13px!important;
}

.hidden {
    display: none!important;
    visibility: hidden!important;
}
.row:after {
    clear: both;
}

.row:before, .row:after {
    display: table;
    content: " ";
}
p, p>.btn-link {
    font-size: 16px;
}

p {
    margin: 0 0 12.5px;
}

.noGcn p{
    text-align: justify;
}
.content-main p a {
    text-decoration: underline;
    color:#000;
}

.btn {
    padding: .5em 1.5em;
    text-transform: uppercase;
    -webkit-transition: background-color .25s ease,border-color .25s ease,color .25s ease;
    transition: background-color .25s ease,border-color .25s ease,color .25s ease;
    border-radius: 0 !important;
}

.btn-primary {
    color: #fff;
    background-color: #000 !important;
    border-color: #000 !important;
}
.btn-primary:hover{
    opacity: 0.5 !important;
}

.product-cutcontainer{
    width: 100%;
}
.component-product .grey .cutoverview_child{
    background: transparent url(../img/gemstones/detail/grey.jpg);
    min-height: 100%;
    background-size: cover;
    padding: 15px;
}

/*.component-product .grey {
    background-size: contain!important;
}*/
.component-product .cutoverview {
    display: inline-block;
    float: right;
    /*width: 725px;*/
    min-height: 100%;
  /*  padding: 0;
    margin-left: 15px;*/
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.component-product .cutoverview h2 {
    margin-bottom: 20px;
    font-size: 22px;
}
.component-product .cutoverview div.left-site, .component-product .cutoverview div.right-site {
    display: table-cell;
    float: none;
    height: 310px;
    padding-top: 30px;
}
.component-product .colorselect {
    bottom: 0;
    padding: 0;
    margin: 0px 0 5px;
    overflow: hidden;
}

.colorshare{
    padding: 10px;
}
.component-product .select-color {
    /*margin-left: 15px;*/
}

.component-product .cutpreview {
   
}
.component-product .cutpreview .cutpreview_children img{
    /*margin:0 auto;*/
    width: 100%;
}
.component-product .cutpreview .cutpreview_children{
     background: transparent url(../img/gemstones/detail/grey.jpg) ;
    background-size: cover;
    display: block;
}

.component-product .cutpreview {
    /*width: 344px;*/
    /*height: 329px;*/
    /*margin-left: 0;*/
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

/*.component-product .cutpreview .video-js {
    width: 329px!important;
    height: 329px!important;
    background-color: #fff;
}*/
/*.component-product .grey {
    background-size: contain!important;
}*/
.video-js {
    display: block;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    font-size: 10px;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    font-family: Arial,Helvetica,sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.video-js, .vjs-no-js {
    color: #fff;
    background-color: #000;
}

.video-js .vjs-tech {
    position: absolute;
    top: 0;
    left: 0;
}

.video-js .vjs-tech, .video-js.vjs-fill {
    width: 100%;
    height: 100%;
}
.video-js *, .video-js :after, .video-js :before {
    box-sizing: inherit;
}
audio, canvas, video {
    display: inline-block;
}
.component-product .colorselect ul {
    position: relative;
    width: 260px;
    padding: 0;
    margin: 0 0 0 15px;
    white-space: nowrap;
    list-style-type: none;
}

.component-product .colorselect ul>li.left {
    background: #f6f8f7;
}

.component-product .colorselect ul>li.left, .component-product .colorselect ul>li.right {
    position: absolute;
    z-index: 1000;
    width: 12px;
    height: 40px;
    margin-right: 0;
    margin-bottom: 3px;
    overflow: hidden;
}
.component-product .colorselect ul>li.left {
    left: 0;
}
.component-product .colorselect .coloritems {
    top: 0;
    left: 0;
    width: auto;
}
.component-product .colorselect ul {
    position: relative;
    width: 260px;
    padding: 0;
    margin: auto;
    white-space: nowrap;
    list-style-type: none;
}
.component-product .cutoverview .colorselect ul>li ul>li:hover, .component-product .cutoverview .colorselect ul>li.active {
    background: url(/static/bg_products_tabs_tab_act.png);
}

.component-product .colorselect .coloritems li {
    z-index: 999;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 3px;
    margin-bottom: 3px;
    background: #fff;
    border: 1px solid #d7dee3;
}
.component-product .colorselect ul>li {
    overflow: hidden;
}
.component-product .colorselect ul>li>a {
    position: relative;
    display: block;
    padding: 6px 6px 4px 6px;
    color:#000;
}
.component-product .colorselect span.glow {
    background: url(../img/gemstones/detail/bg_product_small_glow.png) no-repeat;
}
.component-product .colorselect span.glow {
    position: absolute;
    top: 6px;
    left: 8px;
    display: block;
    width: 32px;
    height: 31px;
}
.component-product .colorselect .coloritems li img {
    width: 28px;
}

.component-product .cutoverview .colorselect ul>li ul>li:hover, .component-product .cutoverview .colorselect ul>li.active {
    background: url(../img/gemstones/detail/bg_products_tabs_tab_act.png);
}

.component-product .colorselect ul>li.right {
    background: #f9fbfa;
}
.component-product .colorselect ul>li.left, .component-product .colorselect ul>li.right {
    position: absolute;
    z-index: 1000;
    width: 12px;
    height: 40px;
    margin-right: 0;
    margin-bottom: 3px;
    overflow: hidden;
}
.component-product .colorselect ul>li.right {
    top: 0;
    right: 0;
}
.component-product .colorselect ul>li.left a, .component-product .colorselect ul>li.right a {
    padding: 0;
}
.component-product .colorselect ul>li>a {
    position: relative;
    display: block;
    padding: 6px 6px 4px 6px;
}
.colorshare .cutcolor a{
    color:#000;
}

.component-headline{
    text-align: center;
    margin-bottom: 2em;
    overflow: hidden;
}

.component-headline h2{
        line-height: 1.3;
    text-transform: uppercase;
        margin-bottom: 25px;
        font-size: 38px;
        font-weight: 300;
    letter-spacing: .05em;
}

.cutpreview video{
    width: 100%;
    display: none;
}
.borderblack {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #000;
}  
@media (min-width: 992px){
    .component-sidebar-menu li {
    font-family: "Futura W02 Book","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,SimHei,sans-serif;
    font-size: 12px;
    }
}
@media (min-width: 1200px){
.component-product-details .product .title {
    font-size: 3.25em;
}
.borderblack.mobile {
    display: none;
}

.borderblack.screen {
    display: block;
}

/*.borderblack {
    border-bottom: 6px solid #000;
}*/

}

@media (max-width: 480px){
   .component-product .cutoverview div.left-site, .component-product .cutoverview div.right-site{
    display: inline-block;
    height: auto;
    padding-top: 20px;
   } 
   .component-product .cutoverview div.right-site .color-row{
        justify-content: center;
   }
   .cutpreview video{
/*    width: auto;
    margin:0 auto;*/
   }
   .component-product-details .product .title{
    font-size: 18px;
    }
    .component-product-details .component-product-text-gem p{
        font-size: 14px;
    }
}